/* You can add global styles to this file, and also import other style files */
@import './app/vendor/semantic.min.css';

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

form.ui.segment.form {
  background-color: #F1F9FF;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


form.form:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
